{{#if login}}
</div>            
    <form method="POST" action='/logout'>
        <button id="nav-button" style="border:none; background-color: none;font-size:large; ">Logout</button> 
        {{>csrf}}    
    </form>
</div>
{{else}}
</div>            
    <form method="POST" action='/login'>
        <button id="nav-button" style="border:none; background-color: none;font-size:large; ">Login</button> 
        {{>csrf}}    
    </form>
</div>
{{/if}}