<header>
    <div class="logo-container">
        <div id="logo" style="font-size:larger">
            Meta-Petition ✍🏼
        </div>
    </div>       
    <div style="margin-top:4px">
        <form action='/register'>
            <button id="nav-button" style="border:none; background-color: none; font-size:large">Register</button> 
            {{!-- {{>csrf}}     --}}
        </form>
    </div>
</header>
<div class="petition-container">
    <form method="POST" id="register-container"  style="margin-top: 20%">
        <p style="margin:0 0 1% 2%; text-shadow: 1px 1px 1px darkgrey; color: midnightblue">
            Login below
        </p>
            <div class="form-layout">   
                <div class="input-fields">
                    <input  class="reg-input" type="email" id="surname" name="email" placeholder="Email" autocomplete="off">
                    <input  class="reg-input" type="password" id="surname" name="password" placeholder="Password" autocomplete="off">
                    {{>csrf}}
                <div id="reg-actions">
                    <button name="submit" id="submit-reg">Login</button>
                    <span id="already-reg">
                        Register <a href="/register" style="text-decoration: none; color: tomato">here</a> instead!
                    </span>
                </div> 
                {{#if empty}}
                    <p class="error"> Please fill in credentials to login</p>  
                {{/if}}
                {{#if login}}
                    <p class="error">Incorrect email / password combo</p>  
                {{/if}}
            </div>
        </div>         
    </form>
</div>
