
<div class="container">
    
    <h1 id="petition-header">I really care about this issue and so should you!!!</h1>
    <div class="hero-container">
        <img src="/assets/hero.jpg">
    </div>
    <div class="form">
        <form>
            <div class="name-details">
                <input type="text" id="firstname" name="firstname" placeholder="type name here..." requiredminlength="1">Name</input>
                <input type="text" id="surname" name="surname" placeholder="type surname here..."requiredminlength="1">Surname</input>
            </div>
            <canvas id="draw-signature">Draw here</canvas>
            <input type="hidden" id="signature" name="signature" placeholder="sign here...">Signature</input>
            <button id="submit">Submit</button>
        </form>
    </div>
</div>
