
<div class="container">
    
    <h1 id="petition-header">I really care about this issue and so should you!!!</h1>
    <div class="hero-container">
        <img src="/assets/hero.jpg">
    </div>
    <div class="form">
        <form method="POST">
            <h4>Enter your details below</h4>
            {{!-- <div class="name-details"> --}}
                <input type="text" id="firstname" name="name" placeholder="First Name" requiredminlength="1"></input>
                <input type="text" id="surname" name="surname" placeholder="Second Name"requiredminlength="1"></input>
            {{!-- </div> --}}
            <canvas id="draw-signature">Draw here</canvas>
            <input id="signature" name="signature" placeholder="Signature"></input>
            <div><button name="submit" id="submit">Submit</button></div>
        </form>
    </div>
</div>
