
<div class="container">
    
    <h1 id="petition-header">I really care about this issue and so should you!!!</h1>
    <div class="hero-container">
        <img src="/assets/hero.jpg">
    </div>
    <div class="form">
        <form method="POST">
            <h4>Enter your details below</h4>
            {{!-- <div class="name-details"> --}}
                <span>Name</span><input type="text" id="firstname" name="firstname" placeholder="First Name" requiredminlength="1">
                <span>Surname</span><input type="text" id="surname" name="surname" placeholder="Second Name"requiredminlength="1">
                <input type="hidden"id="signature" name="signature" placeholder="Signature">
            {{!-- </div> --}}
            <div id="sign-label">Sign here</div>
            <canvas id="canvas"></canvas>
            
            <div><button name="submit" id="submit">Submit</button></div>
        </form>
        {{#if empty}}
        <p style="color: blue">please ensure you have filled in all fields </p>  
        {{/if}}
    </div>
</div>
