{{>header login=true}}
<div class="petition-container">
    <h1 class="petition-header">As if filling in fields isn't enough petitions can also change things</h1>
    <div class="hero-container">
        {{!-- <img src="/assets/hero.jpg"> --}}
        <iframe id="iframe" width="100%" height="100%" src="https://www.gopetition.com/info/famous-petitions-in-history">
        </iframe>
    </div>
    <div class="form">
        <form method="POST" >
            <span id="sign-petition"style="margin-bottom:1%">Draw signature below:</span>
                <div class="input-canvas">
                    <input type="hidden" id="signature" name="signature">
                    <canvas name="canvas" id="canvas" width="500" height="130" ></canvas>
                    {{>csrf}}
                </div>
            <div><button type="submit" name="submit-sig" id="submit-sig">Submit signature</button></div>
        {{#if empty}}
        <p class="error" style="margin: 1% 0; width:54%; padding: 2px 1% 0 1%; height: 23px; box-shadow: 4px 4px 3px 0px rgba(137, 137, 138, 0.5);">Please draw your signature to continue </p>  
        {{/if}}
        </form>
    </div>
</div>
