{{>header login=true}}
<div class="petition-container">
    <h1 class="petition-header">I really care about this issue and so should you!!!</h1>
    <div class="hero-container">
        <img src="/assets/hero.jpg">
        {{!-- <iframe id="iframe" width="100%" height="100%" src="https://en.wikipedia.org wiki/Crocs">
        </iframe> --}}
    </div>
    <div class="form">
        <form method="POST" >
            <span id="sign-petition"style="margin-bottom:1%">Draw signature below:</span>
                <div class="input-canvas">
                    <input type="hidden" id="signature" name="signature">
                    <canvas name="canvas" id="canvas" width="500" height="130" ></canvas>
                    {{>csrf}}
                </div>
            <div><button type="submit" name="submit-sig" id="submit-sig">Submit signature</button></div>
        </form>
        {{#if empty}}
        <p style="color: tomato; margin-top:1%">Please ensure you have filled in all fields! </p>  
        {{/if}}
    </div>
</div>
