<div class="register-form" style="margin:10%">
    <form method="POST">    
        <h4 style="margin-bottom:1%">Tell us about yourself</h4>
            <div class="form-layout">   
            <div class="input-fields">
                <span>Age</span></br>
                    <input  id="age" name="age" placeholder="type age..." style="margin:1% 0">
                <span></br>City</span></br>
                    <input type="text" id="city" name="city" placeholder="type city..." style="margin:1% 0">
                <span></br>Homepage</span></br>
                    <input type="text" id="url" name="url" placeholder="type homepage..." style="margin:1% 0">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div><button name="submit" id="submit">Continue</button></div>           
    </form>
</div>