<header>
    <div class="logo-container">
        <div id="logo" style="font-size:larger">
            Meta-Petition ✍🏼
        </div>
    </div>       
    <div class="account-header">           
        <form method="POST" action='/logout'>
            <button id="nav-button" style="border:none; background-color: none;font-size:large; ">Logout</button> 
            {{>csrf}}    
        </form>
    </div>
</header>
<div class="petition-container">
    <form method="POST" id="register-container">    
        <p style="margin:0 0 1% 2%; text-shadow: 1px 1px 1px darkgrey; color: midnightblue">
            Tell us about yourself
        </p>
        <div class="form-layout">   
            <div class="input-fields">
                    <input class="reg-input" id="age" name="age" placeholder="Age">
                    <input class="reg-input" type="text" id="city" name="city" placeholder="City" style="margin:1% 0">
                    <input class="reg-input"type="text" id="url" name="url" placeholder="Homepage" pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&amp;//=]" style="margin:1% 0">
            {{>csrf}}
            <div id="reg-actions">
                <button name="submit" id="submit-reg">
                    Continue
                </button>
            </div>  
            </div>
            </div>         
    </form>
</div>