 <div class="register-form" style="margin:10%">
        <form method="POST">
            <h4 style="margin-bottom:1%">Register with your details below</h4>
                <div class="form-layout">   
                <div class="input-fields">
                    <span>Name</span></br>
                        <input type="text" id="firstname" name="firstname" placeholder="type name..." style="margin:1% 0">
                    <span></br>Surname</span></br>
                        <input type="text" id="surname" name="surname" placeholder="type surame..." style="margin:1% 0">
                    <span></br>Email</span></br>
                        <input type="text" id="surname" name="email" placeholder="type email..." style="margin:1% 0">
                    <span></br>Password</span></br>
                        <input type="text" id="surname" name="password" placeholder="type password..." style="margin:1% 0">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div><button name="submit" id="submit">Register</button></div>
            <h4 style="margin-top: 5%; color:black; width:250px">
            If already registered, log in <a href="/login" style="text-decoration: none; color: blue">here</a>!
            <h4>            
        </form>
        {{#if empty}}
        <p style="color: tomato; margin-top:1%">To register, we require you to fill in all fields! </p>  
        {{/if}}
    </div>