
<header>
    <div class="logo-container">
        <div id="logo" style="font-size:larger">
            Meta-Petition ✍🏼
        </div>
    </div>       
    <div style="margin-top:4px">
        <form action='/login'>
            <button id="nav-button" style="border:none; background-color: none;font-size:large; ">Login</button> 
            {{>csrf}}    
        </form>
    </div>
</header> 
<div class="petition-container">
    <div class="div">
        <p>Do you enjoy fillin forms?</p>
        <p>Does the word census make you lose your senses?</p>
        <p>If you find yourself gently nodding “yes", you are not alone!
        <p>Sign up to find others liek you in your city </p>
          

    </div>
    <form id="register-container" method="POST">
        <p style="margin:0 0 1% 2%; text-shadow: 1px 1px 1px darkgrey; color: midnightblue">
            Register with your details 
        </p>
        <div class="form-layout">   
            <div class="input-fields">
                <input class="reg-input" type="text" id="firstname" name="firstname" placeholder="Name" autocomplete="off">
                <input class="reg-input" type="text" id="surname" name="surname" placeholder="Surame" autocomplete="off">
                <input  class="reg-input" type="email" id="surname" name="email" placeholder="Email" autocomplete="off">
                <input  class="reg-input" type="password" id="surname" name="password" placeholder="Password" autocomplete="off">
                {{>csrf}}
            <div id="reg-actions">
                <button name="submit" id="submit-reg">Register</button>
                <span id="already-reg">
                    Login <a href="/login" style="text-decoration: none; color: tomato">here</a> instead!
                <span>
            </div>
                {{#if empty}}
                    <p class="error"> Please populate all fields to register</p>  
                {{/if}}
                {{#if email}}
                    <p class="error"> Email is already taken, try another</p>  
                {{/if}}
            </div>
        </div>                
    </form>
 
</div>

