{{>header login=true}}
<div class="petition-container">

    <div style="width: 500px">
    {{#rows}}
    <p id="thankyou" style="margin-top: 20%;">
        Thank you comrade
            <a style="color: green">
                {{first}}
            </a></p>
    {{/rows}}
    </div>
    <div id="sig-box" style="width: 500px; height: 130px;">
        <img style="width: 100%; height: 100%" src="{{signature}}">
    </div>
    <div style="width: 500px">
    <form method="POST" action='/delete/signature'>
        <button id="delete-sig">
            Delete signature
        </button>
    {{>csrf}}    
    </div>
    </form>
    <h1 id="count">
        {{count}}
    </h1>
    <p style="margin-top: -2%; font-size: large">
        other people gave their fake signatures.
    </p> 
    <div id="actions" style="width: 500px">
    <a href="/petition/signers" style="text-decoration: none">
        <p id="signers"> See who else signed up</p>
    </a>
    <a href="/profile/edit" style="text-decoration: none">
        <p id="update">
            Update your profile
        </p>
    </a>
    </div>
</div>