<div class="container">
    <h1 class="petition-header">Thank you again!</h1>
    {{!-- <div class="signed"> --}}
    <h3>Other comrades include:</h3>
            <div>
                {{#rows}}
                    <p style="color:brown">{{first}} {{last}}</p>
                {{/rows}}
            </div>
     {{!-- </div> --}}
</div>