<div>
    <h2>thank you again</h2>
    <div class="signed">
    <h3>other comrades include</h3>
        <div class="container">
            <div>
                {{#rows}}
                    <h2>{{first}} {{last}}</h2>
                {{/rows}}   
            </div>
        </div>
    </div>
</div>